.details {
  width: 30%;
}

.bold {
  font-size: medium;
  font-weight: bold;
}
.red {
  font-weight: bold;
  color: red;
}

input {
  padding: 2px;
  margin: 1px;
  border-radius: 5%;
  border: 1px solid #eee;
}

.short {
  width: 15%;
}
#x12,
#x13,
#x16,
#x17 {
  border: 2px solid grey;
  background-color: grey;
}

#x4,
#x7,
#x10,
#x14,
#x15,
#x18,
#x21,
#x24 {
  color: red;
}
.double {
  width: 9%;
}
.btn-outline-dark {
  width: 200px;
}
